@import 'common';

.post-form {
  padding: 10px;

  .item {
    display: flex;
    margin-bottom: 5px;
    align-items: center;

    label {
      flex: 2;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      font-weight: bold;
      margin-right: 5px;
    }

    .field {
      flex: 10;
      padding-right: 10px;
      vertical-align: middle;
      overflow-x: auto;
    }

    .error-message {
      color: #f00;
      font-size: 0.7rem;
      padding: 5px;
    }
  }

  .tool {
    text-align: center;

    * {
      margin-left: 3px;
    }
  }

  .error {
    color: #f00;
    text-align: center;
    font-size: 0.7rem;
    padding: 5px;
  }
}
