@import 'common';

.list-item {
  border: solid 1px #c7c7c7;
  margin-bottom: 5px;
  background-color: #fff;

  >a {
    padding: 10px;
    display: flex;

    &:hover {
      background-color: #efefef;
    }
    &:active {
      background-color: #d7d7d7;
    }
  }

  .info {
    flex: 1;
  }

  .name {
    font-weight: bold;
    color: #ff5008;
  }

  .weekday {
    margin-left: 3px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #7c7c7c;
  }

  .value-unit {
    margin-left: 5px;
    color: #4e4e4e;
  }

  .remark {
    color: #a0a0a0;
    font-size: 0.7rem;
    margin-top: 5px;
  }
}
