@import 'common';

.btn {
  background-color: #fff;
  color: #323232;
  padding: 10px;
  border: solid #d4d4d4 1px;
  cursor: pointer;

  $color: #161616;
  &:hover {
    color: $color;
    background-color: #f6f6f6;
  }
  &:active {
    color: $color;
    background-color: #efefef;
  }

  &.primary {
    color: #fff;
    background-color: #008ee0;
    &:hover {
      background-color: #00a4ff;
    }
  }
}

