@import 'common';

.event-item {
  border: solid 1px #c7c7c7;
  margin-bottom: 5px;
  background-color: #fff;

  >a {
    padding: 10px;
    display: flex;

    &:hover {
      background-color: #f9f9f9;
    }
    &:active {
      background-color: #ebebeb;
    }
  }

  .info {
    flex: 1;
  }

  .name {
    font-weight: bold;
    color: #ff5008;
  }

  .value-unit {
    margin-left: 5px;
    color: #4e4e4e;
  }

  .remark {
    color: #a0a0a0;
    font-size: 0.7rem;
    margin-top: 5px;
  }
}
