@import 'common';

.menu {
  $color: #f2f2f2;

  background-color: #323232;
  color: $color;
  padding: 10px;
  maring: 0;
  font-size: 1.2rem;

  a {
    color: $color;
    &:hover, &:active, &:visited {
      color: $color;
    }
  }

  li:not(:last-child) {
    float: left;
    margin-right: 10px;
  }

  .active {
    color: red !important;
    font-weight: bold;
  }
}
