/* Global */

* {
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: rgb(242, 244, 247);
}

input, select, button {
  font-size: 14px;
}

input[type=number] {
  text-align: right;
}

a {
  text-decoration: none;
}

a:visited, a:active, a:hover {
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


/* Common Component */

.container {
  padding: 5px;
}

.btn {
  background-color: #fff;
  color: #323232;
  padding: 10px;
  border: solid #d4d4d4 1px;
  cursor: pointer;
}

.btn:hover {
  color: #161616;
  background-color: #f6f6f6;
}

.btn:active {
  color: #161616;
  background-color: #efefef;
}

.btn.primary {
  color: #fff;
  background-color: #008ee0;
}

.btn.primary:hover {
  color: #fff;
  background-color: #00a4ff;
}

.form-control {
  display: block;
  background-color: #fff;
  color: #4a4a4a;
  border: solid #d4d4d4 1px;
  padding: 10px;
  width: 100%;
}

.num {
  text-align: right;
}

/* Menu */

.menu {
  background-color: #323232;
  color: #f2f2f2;
  padding: 10px;
  maring: 0;
  font-size: 1.2rem;
}

.menu a {
  color: #f2f2f2;
}

.menu li:not(:last-child) {
  float: left;
  margin-right: 10px;
}

.search-form {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-form .field {
  display: inline-block;
  flex: 10;
}

.search-form .tool {
  display: inline-block;
  flex: 2;
  text-align: right;
}


/* Event List */

.event-list .list-item {
  border: solid 1px #c7c7c7;
  margin-bottom: 5px;
  background-color: #fff;
}

.event-list .list-item > a {
  padding: 10px;
  display: flex;
}

.event-list .list-item > a:hover {
  background-color: #f9f9f9;
}
.event-list .list-item > a:active {
  background-color: #ebebeb;
}

.event-list .list-item .info {
  flex: 1;
}

.event-list .list-item .name {
  font-weight: bold;
  color: #ff5008;
}

.event-list .list-item .value-unit {
  margin-left: 5px;
  color: #4e4e4e;
}

.event-list .list-item .remark {
  color: #a0a0a0;
  font-size: 0.7rem;
  margin-top: 5px;
}



/* Event Form */

.event-form {
  padding: 10px;
}

.event-form .item {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.event-form .item label {
  flex: 2;
  text-align: right;
  font-weight: bold;
  margin-right: 5px;
}

.event-form .item .field {
  flex: 10;
  padding-right: 10px;
  vertical-align: middle;
}

.event-form .tool {
  text-align: center;
}

.event-form .tool .btn {
  margin-left: 5px;
}

.event-form .item .error-message {
  color: #f00;
  font-size: 0.7rem;
  padding: 5px;
}

.event-form .error {
  color: #f00;
  text-align: center;
  font-size: 0.7rem;
  padding: 5px;
}


/* Post List */

.post-list .list-item {
  border: solid 1px #c7c7c7;
  margin-bottom: 5px;
  background-color: #fff;
}

.post-list .list-item > a {
  padding: 10px;
  display: flex;
}

.post-list .list-item > a:hover {
  background-color: #efefef;
}

.post-list .list-item > a:active {
  background-color: #d7d7d7;
}

.post-list .list-item .info {
  flex: 1;
}

.post-list .list-item .name {
  font-weight: bold;
  color: #ff5008;
}

.post-list .list-item .weekday {
  margin-left: 3px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #7c7c7c;
}

.post-list .list-item .value-unit {
  margin-left: 5px;
  color: #4e4e4e;
}

.post-list .list-item .remark {
  color: #a0a0a0;
  font-size: 0.7rem;
  margin-top: 5px;
}

/* Post Form */

.post-form {
  padding: 10px;
}

.post-form .item {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.post-form .item label {
  flex: 2;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-weight: bold;
  margin-right: 5px;
}

.post-form .item .field {
  flex: 10;
  padding-right: 10px;
  vertical-align: middle;
}

.post-form .item .field {
  overflow-x: auto;
}

.post-form .tool {
  text-align: center;
}

.post-form .tool .btn {
  margin-left: 3px;
}

.post-form .item .error-message {
  color: #f00;
  font-size: 0.7rem;
  padding: 5px;
}

.post-form .error {
  color: #f00;
  text-align: center;
  font-size: 0.7rem;
  padding: 5px;
}

.post-form table.performances td {
  vertical-align: top;
}
